doctype html
html
  head
    title= 'Kemenkeu.JS'
    link(rel='stylesheet', href='/css/milligram.min.css')
  body
    .container
      .row
        .column
          h1= 'Selamat datang.'
          hr
          a(href='/twitter/connect') Masuk dengan twitter.